---
import BaseHead from '../components/BaseHead.astro';
import { SITE_NAME, SITE_DESCRIPTION, SITE_URL } from '../consts.js';
---

<html lang="ru">
    <head>
        <BaseHead title={SITE_NAME} description={SITE_DESCRIPTION} url={SITE_URL} />
    </head>
    <body>
        <main>
            brover.dev
        </main>
    </body>
</html>
